# change this to true if you want to run in production
IS_PRODUCTION=false

ACCESS_TOKEN_SECRET=something-secret

# PRODUCTION CONFIG
SUPABASE_URL=your_production_url
SUPABASE_KEY=your_production_key
DB_URL=your_production_db
REDIS_URL=your_production_redis

# LOCAL CONFIG (DEV)
SUPABASE_LOCAL_URL=http://localhost:54321
# DEFAULT SUPABASE KEY ON LOCAL, CHANGE IN PRODUCTION
SUPABASE_LOCAL_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx35lJzdJsyH-qQwv8Hdp7fsn3W0YpN81IU
DB_LOCAL_URL=postgres://postgres:123@localhost:5432/homeland_db
REDIS_LOCAL_URL=redis://localhost:6379

abc_key=abc_value
